{% extends 'base.html.twig' %}

{% block title %}Bulletins de la Classe{% endblock %}

{% block body %}

<div class="a4">
  <div class="schoolTop">
    <div class="topImg"><img src="{{ asset('assets/images/logo.png')}}" alt=""></div>
      <div class="top">
        <p><small>République du Bénin</small></p>
        <h1>{{ etablissement.nom }}</h1>
        <p>
          {{ etablissement.adresse }} Tel : {{ etablissement.telephone }}
        </p>
        <p><strong>Abomey-Calavi</strong></p>
        <p>{{ etablissement.devise }}</p>
      </div>
  </div>
  <hr class="solid" />
  <div class="student">
    <div class="oneitem oneitem1 personnel">
      <table>
        <tr>
          <td class="label">Nom :</td>
          <td class="value">{{ eleve.nom }}</td>
        </tr>
        <tr>
          <td class="label">Prénom :</td>
          <td class="value">{{ eleve.prenom }}</td>
        </tr>
        <tr>
          <td class="label">Sexe :</td>
          <td class="value">{{ eleve.sexe | upper }}</td>
        </tr>
      </table>
    </div>
    <div class="oneitem oneitem2 classe">
      <table>
        <tr>
          <td class="label">Classe :</td>
          <td class="value">{{ eleve.classe }}</td>
        </tr>
        <tr>
          <td class="label">Effectif :</td>
          <td class="value">{{ eleve.effectif }}</td>
        </tr>
        <tr>
          <td class="label">Année scolaire :</td>
          <td class="value">{{ eleve.annee }}</td>
        </tr>
      </table>
    </div>
    <div class="oneitem oneitem3 vide"></div>
  </div>

  <div class="presentation">
    <h1>BULLETIN DE NOTE DU 
    {% if trimestre == 1 %}
        PREMIER
    {% elseif trimestre == 2%}
        DEUXIEME
    {% else %}
        TROISIEME
    {% endif %}
      TRIMESTRE</h1>
  </div>
  <div class="bulletin">
    <table>
      <thead>
        <tr>
          <th class="matiere">Matière</th>
          <th>Coef</th>
          <th>MI</th>
          <th>Devoir 1</th>
          <th>Devoir 2</th>
          <th>DH</th>
          <th>Moy/20</th>
          <th>Moy*Coef</th>
          <th>Rang</th>
          <th>Moy Fble</th>
          <th>Moy Frte</th>
          <th class="appreciation">Appréciation</th>
        </tr>
      </thead>

      <tbody>
      {% set moy = 0%}
        {% for ligne in notes %}
        <tr>
          <td class="matiere">{{ ligne.matiere }}</td>
          <td>{{ ligne.coef }}</td>
          <td>{{ ligne.MI ?? '' }}</td>
          <td>{{ ligne.D1 ?? '' }}</td>
          <td>{{ ligne.D2 ?? '' }}</td>
          <td>{{ ligne.DH ?? '' }}</td>
                <td>{{ ligne.moyenne ?? '' }}</td>
                <td>{{ ligne.totalCoef ?? '' }}</td>
                <td>{{ ligne.rang ?? '' }}</td>
                <td>{{ ligne.moyFort ?? '' }}</td>
                <td>{{ ligne.moyFaible ?? '' }}</td>
            <td class="appreciation">
                {{ ligne.appreciation ?? '' }}
            </td>
            {% set moy = moy + ligne.moyenne %}
          {% else %}
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="general">
    <div class="bilanGeneral">
      <table>
        <thead>
          <tr>
            <td colspan="2">Billan de l'élève</td>
          </tr>
        </thead>
        <tr>
          <td class="label">Moyenne</td>
          <td class="value">{{ bilan.moyenneGenerale }}</td>
        </tr>
        <tr>
          <td class="label">Rang</td>
          <td class="value">
            {{ bilan.rang }}
            {% if bilan.rang == 1 and eleve.sexe|lower == "f" %}
                ère 
            {% endif %} 
            {% if bilan.rang == 1 and eleve.sexe|lower == "m" %}
                er 
            {% endif %} 
            {% if bilan.rang !=  1 %}ème{% endif %}
          </td>
        </tr>
      </table>
    </div>

    {% if trimestre == 3 %}
    <div class="trimestre mx-4">
      <table>
        <thead>
          <tr>
            <th>Trimestre</th>
            <th>Moyenne</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1er Trimestre</td>
            <td>{{ firstTrimestre["moyenneGenerale"] }}</td>
          </tr>
          <tr>
            <td>2e Trimestre</td>
            <td>{{ secondTrimestre["moyenneGenerale"] }}</td>
          </tr>
          <tr>
            <td>Général</td>
            <td>
              {{ ((firstTrimestre["moyenneGenerale"] + secondTrimestre["moyenneGenerale"] + moy) / 3) | round(2, 'floor') }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    {% endif %}
    <div class="bilanClasse">
      <table>
        <thead>
          <tr>
            <td colspan="2">Billan de la classe</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Moyenne forte</td>
            <td>{{ bilan.moyenneForte }}</td>
          </tr>

          <tr>
            <td>Moyenne faible</td>
            <td>{{ bilan.moyenneFaible }}</td>
          </tr>
          <tr>
            <td>Moyenne de la classe</td>
            <td>{{ bilan.moyenneClasse }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="note mb-4">
    <table>
      <thead>
        <tr>
          <th colspan="2">Distinctions et Sanctions</th>
          <th>appreciation du Conseil des Professeurs</th>
          <th>Signature du directeur des études</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Félicitations</td>
          <td></td>
          <td rowspan="6">
                <strong>Distinctions et Sanctions</strong><br>
                <label><input type="checkbox" {% if mentions.felicitations %}checked{% endif %}> Félicitations</label><br>
                <label><input type="checkbox" {% if mentions.encouragement %}checked{% endif %}> Encouragement</label><br>
                <label><input type="checkbox" {% if mentions.passable %}checked{% endif %}> Passable</label><br>
                <label><input type="checkbox" {% if mentions.tableauHonneur %}checked{% endif %}> Tableau d'honneur</label><br>
                <label><input type="checkbox" {% if mentions.avertissement %}checked{% endif %}> Avertissement</label><br>
                <label><input type="checkbox" {% if mentions.blame %}checked{% endif %}> Blâme</label>
          </td>
          <td rowspan="6"></td>
        </tr>

        <tr>
          <td>Encouragement</td>
          <td></td>
        </tr>
        <tr>
          <td>Tableau d'honneur</td>
          <td></td>
        </tr>
        <tr>
          <td>Avertissement</td>
          <td></td>
        </tr>
        <tr>
          <td>Blâme</td>
          <td></td>
        </tr>
        <tr>
          <td>Exclu</td>
          <td></td>
        </tr>
      </tbody>
    </table>
    <div class="petit">
      <small>
        <strong>Mi : </strong> Moyenne Interrogation -
        <strong>DH : </strong> Devoir hebdomadaire
      </small>
    </div>
  </div>
</div>

<script>
  window.onload = function () {
    window.print();
  };
</script>

{% endblock %}