{% extends 'base.html.twig' %} 

{% block title %}Liste des notes{% endblock %} 


{% block body %}
  <div class="wrapper">
    <div class="sidebar">
      <div class="sidebar-menu">
        <a href="{{ path("app_main") }}" data-section="section1">Acceuil</a>
        <a href="{{ path("app_notes_index") }}" data-section="section1" >Liste des notes</a>
        <a href="{{ path("app_eleves_choice") }}" data-section="section2">Saisir une note</a>
        <a href="{{ path("app_notes_moyennes") }}" data-section="section2" class="active">Voir les moyennes</a>
      </div>
    </div>
    <div class="center">
        <div class="top">
          <p><small>République du Bénin</small></p>
          <h1 class="my-1">{{ ecole.schoolName }}</h1>
          <p>
            {{ ecole.boitePostale}} Tel: {{ ecole.telephone }} /
            {{ ecole.cellulaire }}
          </p>
          <p><strong>Abomey-Calavi</strong></p>
          <p>Discipline-Travail-Succès</p>
      </div>
      <div class="suite">
        <p>Classe : {{classe.nom}}</p>
        <h1>
            {% if trimestre == 1 %}
                Premier
            {% elseif trimestre == 2 %}
                Deuxième
            {% else %}
                Troisième
            {% endif %}
            Trimestre
            <br> Fiche de retrait de bulletin
        </h1>
      </div>
      <div class="fiche">
        <table>
          {% if not rangGeneral %}
            <p>Aucune moyenne disponible</p>
          {% else %}
        
            <thead>
                <tr>
                    <th class="nom">Nom et Prénom</th>
                    <th>Total / Moy / Coef</th>
                    <th>Total des coef</th>
                    <th>Moyenne trimestrielle</th>
                    <th class="rang">Rang</th>
                    <th class="date">Date</th>
                    <th>Signature</th>
                </tr>
            </thead>
            <tbody>
                {% for key, one in rangGeneral %}
                    <tr>
                        <td class="nom">{{eleves[key].nom }} {{eleves[key].prenom }} </td>
                        <td>{{results[key]["moyenneGenerale"] * sommeCoefficients}}</td>
                        <td>{{sommeCoefficients}}</td>
                        <td class="rang">{{results[key]["moyenneGenerale"]}}</td>
                        <td>
                            {{one}}
                            {% if one == 1 %}
                              {% if eleves[key].sexe == 'm' %}
                                er
                              {% else %}
                                ère
                              {%endif %}
                            {% else %}
                                ème
                            {% endif %}
                            
                        </td>
                        <td class="date"></td>
                        <td></td>
                    </tr>
                {% endfor %}
            </tbody>
          {% endif %}
        
        </table>
      </div>
    </div>
  </div>
  
    <script>
      window.onload = function () {
        window.print();
      };
    </script>
{% endblock %}
