{% extends 'base.html.twig' %} {% block title %}Notes{% endblock %} {% block
body %}
<div class="wrapper">
  
      <div class="sidebar">
        <div class="sidebar-menu">
          <a href="{{ path("app_main") }}" data-section="section1">Acceuil</a>
          <a href="{{ path("app_notes_index") }}" data-section="section1" class="active">Liste des notes</a>
          <a href="{{ path("app_eleves_choice") }}" data-section="section2">Saisir une note</a>
          <a href="{{ path("app_notes_moyennes") }}" data-section="section2">Voir les moyennes</a>
        </div>
      </div>
  <div class="center">
    <h1>Notes</h1>
  
    <table class="table">
      <tbody>
        <tr>
          <th>Nom</th>
          <td>{{ note.eleveId.nom }}</td>
        </tr>
        <tr>
          <th>Prénom</th>
          <td>{{ note.eleveId.prenom }}</td>
        </tr>
        <tr>
          <th>Matière</th>
          <td>{{ note.matiereId.nom }}</td>
        </tr>
        <tr>
          <th>Note</th>
          <td>{{ note.note }}</td>
        </tr>
        <tr>
          <th>Type_evaluation</th>
          <td>{{ note.typeEvaluation }}</td>
        </tr>
        <tr>
          <th>Classe</th>
          <td>{{ note.eleveId.classe.nom }}</td>
        </tr>
        <tr>
          <th>Date evaluation</th>
          <td>
            {{ note.dateEvaluation ? note.dateEvaluation|date('Y-m-d H:i:s') : '' }}
          </td>
        </tr>
        <tr>
          <th>Date ajout</th>
          <td>{{ note.createdAt ? note.createdAt|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
      </tbody>
    </table>
  
    <div class="small-wrapper">
      <p><a href="{{ path('app_notes_index') }}" class="btn btn-primaire">Retour vers la liste des notes</a></p>
      <p><a href="{{ path('app_notes_edit', { id: note.id }) }}" class="btn btn-secondaire">Modifier</a></p>
    </div>
  
    {{ include("notes/_delete_form.html.twig") }}
  </div>
</div>
{% endblock %}
