{% extends 'base.html.twig' %} 

{% block title %}Liste des notes{% endblock %} 


{% block body %}
  <div class="wrapper">
    <div class="sidebar">
      <div class="sidebar-menu">
        <a href="{{ path("app_main") }}" data-section="section1">Acceuil</a>
        <a href="{{ path("app_notes_index") }}" data-section="section1" >Liste des notes</a>
        <a href="{{ path("app_eleves_choice") }}" data-section="section2">Saisir une note</a>
        <a href="{{ path("app_notes_moyennes") }}" data-section="section2" class="active">Voir les moyennes</a>
      </div>
    </div>
    <div class="center">
    <div class="schoolTop">
      <div class="topImg"><img src="{{ asset('assets/images/logo.png')}}" alt=""></div>
        <div class="top">
          <p><small>République du Bénin</small></p>
          <h1>{{ ecole.schoolName }}</h1>
          <p>
            {{ ecole.boitePostale }} Tel: {{ ecole.telephone }} /
            {{ ecole.cellulaire }}
          </p>
          <p><strong>Abomey-Calavi</strong></p>
          <p>Discipline-Travail-Succès</p>
        </div>
    </div>    
      <div class="suite">
        <p>Classe : {{classe.nom}}</p>
        <h1>
            {% if trimestre == 1 %}
                Premier
            {% elseif trimestre == 2 %}
                Deuxième
            {% else %}
                Troisième
            {% endif %}
            Trimestre
            <br> vérification des moyennes
        </h1>
      </div>
    <div class="fiche">
        <table>
          {% if not moyenneGClasse %}
            <p>Aucune moyenne disponible</p>
          {% else %}
        
            <thead>
                <tr>
                    <th class="nom">Nom et Prénom</th>
                    {% for matiere in matieres %}
                        {% if matiere.nom | lower == 'mathématiques'%}
                        <th class="mat">Maths</th>
                        {% elseif matiere.nom | lower == 'allemand/espagnol'%}
                        <th class="mat">All. / Esp.</th>
                        {% else %}
                        <th class="mat">{{ matiere.nom | slice(0,3)}}</th>
                        {% endif %}
                    {% endfor %}
                    <th>Total</th>
                    <th>Moy. Gen</th>
                    <th class="rang">Rang</th>
                </tr>
            </thead>
            <tbody>
                {% for key, result in results %}

                {% set i = 0 %}
                    <tr>
                        <td class="nom">{{result['eleve'].nom }} {{result['eleve'].prenom }} </td>
                        {% for matiere in matieres %}
                        {{dump(result['matieres'][matiere.id]['notes'])}}
                          {% if result['matieres'][matiere.id]['matiere'] is defined %}
                            <td class="mat"> {{result['matieres'][matiere.id]['notes']['DE'] in [null, 0] ? '' : result['matieres'][matiere.id]['notes']['DE']}} </td>
                            {# {% set i = i + result['matieres'][matiere.id] %} #}
                          {% else %}
                          <td></td>
                          {% endif %}
                        {% endfor %}
                        <td>{{ i }}</td>
                        <td> {{ result['moyenneGenerale']}} </td>
                        <td class="rang">
                            {{ result['rang']}} 
                            {% if result['rang'] == 1 and result['eleve'].sexe|lower
                            == "f" %}ère {% endif %} {% if result['rang'] ==
                            1 and result['eleve'].sexe|lower == "m" %}er {% endif %} {% if
                            result['rang'] != 1 %}ème{% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
          {% endif %}
        
        </table>
    </div>

    <div class="details mt-4">
      <div class="left mr-4">
          <table>
              <tr>
                <td>Effectif :</td>
                <td>{{effectif}}</td>
              </tr>
              <tr>
                <td>Ayant la moyenne :</td>
                <td>{{success}}</td>
              </tr>
              <tr>
                <td>N'ayyant pas la moyenne :</td>
                <td>{{fail}}</td>
              </tr>
              <tr>
                <td>Pourcentage de succès :</td>
                <td>{{tauxReussite}} %</td>
              </tr>
          </table>
      </div>
      <div class="right ml-4">
          <table>
              <tr>
                <td>Moyenne Forte :</td>
                <td>{{moyenneGForte}}</td>
              </tr>
              <tr>
                <td>Moyenne Faible:</td>
                <td>{{moyenneGFaible}}</td>
              </tr>
              <tr>
                <td>Moyenne classe :</td>
                <td>{{moyenneGClasse}}</td>
              </tr>
          </table>
      </div>
    </div>

      <p class="mt-4"><strong>NB : </strong> Toute réclamation doit être justifiée dans un délais 24h après l'affichage. Passé ce délai, les résultats seront considérés comme définitifs.</p>

    </div>
  </div>
  
    {# <script>
      window.onload = function () {
        window.print();
      };
    </script> #}
{% endblock %}
