{{ form_start(form) }}
{{ form_widget(form) }}
<div class="form-group">
  <label for="prix_annuel">Prix annuel</label>
  <input
    type="number"
    class="form-control"
    id="prix_annuel"
    name="prix_annuel"
    aria-describedby="Prix annuel"
    {%
    if
    tarif
    is
    defined
    %}
    value="{{ tarif.prixAnnuel }}"
    {%
    endif
    %}
  />

  <div class="reins">
    <label for="prix">Prix Inscription</label>
    <input
      type="number"
      class="form-control"
      id="prix_inscription"
      name="prix_inscription"
      aria-describedby="Prix inscription"
      {%
      if
      tarif
      is
      defined
      %}
      value="{{ tarif.prixInscription }}"
      {%
      endif
      %}
    />
  </div>
  <div class="reins">
    <label for="prix_reins">Prix Réinscription</label>
    <input
      type="number"
      class="form-control"
      id="prix_reinscription"
      name="prix_reinscription"
      aria-describedby="Prix réinscription"
      {%
      if
      tarif
      is
      defined
      %}
      value="{{ tarif.prixInscription }}"
      {%
      endif
      %}
    />
  </div>
</div>
<button class="btn btn-primaire my-4">
  {{ button_label|default('Enregistrer') }}
</button>
{{ form_end(form) }}
