{% extends 'base.html.twig' %} {% block title %}Modifier la classe{% endblock %} {%
block body %}

<div class="wrapper">
      <div class="sidebar">
        <div class="sidebar-menu">
          <a href="{{ path("app_main") }}" data-section="section1">Acceuil</a>
          <a href="{{ path("app_classes_index") }}" data-section="section1">Liste des classes</a>
          <a href="{{ path("app_classes_new") }}" data-section="section2">Créer une classe</a>
        </div>
      </div>
  <div class="center">
    <h1>Modifier la classe</h1>
    {{ include("classes/_form.html.twig", { button_label: "Enregistrer" }) }}
    {{ include("classes/_delete_form.html.twig") }}
  </div>
</div>
{% endblock %}
