{% extends 'base.html.twig' %} {% block title %}Complexe scolaire Amen!{%
endblock %} {% block body %}
<div class="tout">
  <header class="head">
    <nav>
      <ul>
        <li><a href="{{ path('app_ecoles_edit', {"id": 1, "ed": 2}) }}">{{annee_actuelle}}</a></li>
        <li>GTS</li>
      </ul>
    </nav>
  </header>

  <div class="allBody">
    <div class="options">
      <h1>Bienvenu sur le site de gestion du C.S <span>Amen</span></h1>

      <div class="icones">
        <nav>
          <ul class="line">
            <li>
              <a href="{{ path('app_eleves_new', {'annee': annee_actuelle }) }}" aria-label="Inscription">
                <img
                  src="{{ asset('assets/images/educational.png') }}"
                  alt="Icone d'inscription"
                />
              </a>
              Inscription
            </li>
            <li>
              <a href="{{ path('app_main_ecole') }}" aria-label="Ecole">
                <img
                  src="{{ asset('assets/images/school1.png') }}"
                  alt="Icone de l'école"
                />
              </a>
              Ecole
            </li>
            <li>
              <a href="{{path('app_main_finances')}}" aria-label="Finance">
                <img
                  src="{{ asset('assets/images/money-bag.png') }}"
                  alt="Icone de finance"
                />
              </a>
              Finance
            </li>
            <li>
              <a href="#" aria-label="Personnel">
                <img
                  src="{{ asset('assets/images/staff.png') }}"
                  alt="Icone du personnel"
                />
              </a>
              Personnel
            </li>
          </ul>
          <ul>
            <li>
              <a href="{{ path('app_examinations_index') }}" aria-label="Notes">
                <img
                  src="{{ asset('assets/images/notepad.png') }}"
                  alt="Icone des notes"
                />
              </a>
              Notes
            </li>
            <li>
              <a href="{{ path("app_ecoles_edit", {'id': 1 }) }}" aria-label="Parametres">
                <img
                  src="{{ asset('assets/images/settings.png') }}"
                  alt="Icone des paramètres"
                />
              </a>
              Parametres
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
{% endblock %}
