{{ form_start(form) }}
{{ form_row(form.montant) }}
    <div class="hidden">
{{ form_row(form.type) }}
    {{ form_row(form.eleve_id) }}
    </div>
    <button class="btn btn-primaire my-4">{{ button_label|default('Enregistrer') }}</button>

    <div class="hidden"><input type="text" name="eleve" id="eleve" value="{{eleve.id}}"></div>
{{ form_end(form) }}
