{% extends 'base.html.twig' %}

{% block title %}Paiements index{% endblock %}

{% block body %}

  <div class="wrapper">
      <div class="sidebar">
            <div class="sidebar-menu">
                <a href="{{ path("app_main") }}" data-section="section1">Acceuil</a>
                <a href="{{ path("app_main_finances") }}" data-section="section1">Dashboard</a>
                <a href="{{ path("app_paiements_index") }}" data-section="section1" class="active">Paiements</a>
                <a href="{{ path("app_paiements_etat") }}" data-section="section2">Etat</a>
            </div>
        </div>
        <div class="center">
            <h1>Liste des paiements</h1>
            
            <div class="my-4">
                <form action="#" method="get">
                    <div class="col-2">
                        <select name="classe" id="classe" onchange="this.form.submit()" class="form-control">
                        <option value="0">Toutes les classes</option>
                            {% for classe in classes %}
                                <option value="{{classe.id}}" {% if trie == classe.id %} selected {% endif %}>{{ classe.nom }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </form>
            </div>
            
            <table class="table">
                <thead>
                    <tr>
                        <th>Nom et prénom</th>
                        <th>Montant</th>
                        <th>Date du paiement</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for paiement in paiements %}
                    <tr>
                        <td>{{ paiement.eleveId.nom }} {{ paiement.eleveId.prenom }}</td>
                        <td>{{ paiement.montant | number_format(0, '', ' ') }} F</td>
                        <td>{{ paiement.createdAt ? paiement.createdAt|date('d-m-Y') : '' }}</td>

                        <td>
                            <a href="{{ path('app_paiements_edit', {'id': paiement.id, 'eleve': paiement.eleveId.id}) }}" class="btn btn-primaire">Modifier</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <a href="{{ path('app_paiements_nouveau') }}" class="btn btn-primaire my-4">Ajouter un payement</a>
        </div>
  </div>
{% endblock %}
