{% extends 'base.html.twig' %}

{% block title %}Paiements index{% endblock %}

{% block body %}

  <div class="wrapper">
      <div class="sidebar">
            <div class="sidebar-menu">
            <a href="{{ path("app_main") }}" data-section="section1">Acceuil</a>
              <a href="{{ path("app_main_finances") }}" data-section="section1">Dashboard</a>
            <a href="{{ path("app_paiements_index") }}" data-section="section1" class="active">Liste des paiements</a>
            <a href="{{ path("app_paiements_nouveau") }}" data-section="section2">Nouveau paiement</a>
            </div>
        </div>
        <div class="center">
            <h1>Paiements index</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th>Nom et prénom</th>
                        <th>Montant</th>
                        <th>Type</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for paiement in paiements %}
                    <tr>
                        <td>{{ paiement.eleveId.nom }} {{ paiement.eleveId.prenom }}</td>
                        <td>{{ paiement.montant }}</td>
                        <td>{{ paiement.type }}</td>
                        <td>
                            <a href="{{ path('app_paiements_edit', {'id': paiement.id, 'eleve': paiement.eleveId.id}) }}" class="btn btn-primaire">Modifier</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <a href="{{ path('app_paiements_nouveau') }}" class="btn btn-primaire my-4">Ajouter un payement</a>
        </div>
  </div>
{% endblock %}
