{% extends 'base.html.twig' %}

{% block title %}Examinations index{% endblock %}

{% block body %}

  
  <div class="wrapper">
      <div class="sidebar">
            <div class="top"><a href="{{ path("app_main") }}" data-section="section1">Acceuil</a></div>
            <div class="sidebar-menu">
                <a href="{{ path("app_examinations_index") }}" data-section="section1"  class="active">Examinations</a>
                <a href="{{ path("app_eleves_index") }}" data-section="section1">Type Examinations</a>
                <a href="{{ path("app_classes_index") }}" data-section="section2">bulletins</a>
            </div>
      </div>
        <div class="center">
            <h1>Notes</h1>

            <div class="petit-wrapper">
                <div>
                    <p>
                        Matière <br>
                        <span>{{examination.matiere.nom}}</span>
                    </p>
                </div>
            </div>
                 <hr>

            <div class="mb-3 row">
                <div class="col-sm-2">
                    <p> Nom</p>
                </div>
                <div class="col-sm-2">
                    <p> D1 </p>
                </div>
                <div class="col-sm-2">
                    <p> D2 </p>
                </div>
                <div class="col-sm-2">
                    <p> Mi </p>
                </div>
                <div class="col-sm-2">
                    <p> DH </p>
                </div>
                
            </div>
            <form action="{{ path('app_notes_create_exam', {'examination': examination.id}) }}" method="post">

                {% for eleve in eleves %}     
                    <div class="mb-3 row">

                        <label class="col-sm-2 col-form-label">
                            {{ eleve.nom }} {{ eleve.prenom }}
                        </label>

                        {% for evaluation, notes in evaluations %}
                            {% set existingNote = null %}
                            {% for note in notes %}
                                {% if note.eleveId.id == eleve.id %}
                                    {% set existingNote = note.note %}
                                {% endif %}
                            {% endfor %}

                            <div class="col-sm-2">
                                <input type="number"
                                    step="any"
                                    class="form-control"
                                    name="notes[{{ evaluation }}][{{ eleve.id }}]"
                                    value="{{ existingNote }}">
                            </div>
                        {% endfor %}

                        <div class="col-sm-2 mt-2"><p>/20</p></div>
                    </div>
                {% endfor %}

                <button type="submit" class="btn btn-primary">Enregistrer</button>
                <a href="{{ path('app_examinations_index') }}" class="btn btn-secondary">Annuler</a>

                {# {{ csrf_token('save_notes')|raw }} #}

            </form>


        </div>
  </div>
{% endblock %}
