{% extends 'base.html.twig' %}

{% block title %}Examinations index{% endblock %}

{% block body %}

  
  <div class="wrapper">
      <div class="sidebar">
            <div class="top"><a href="{{ path("app_main") }}" data-section="section1">Acceuil</a></div>
            <div class="sidebar-menu">
                <a href="{{ path("app_examinations_index") }}" data-section="section1"  class="active">Examinations</a>
                <a href="{{ path("app_eleves_index") }}" data-section="section1">Type Examinations</a>
                <a href="{{ path("app_classes_index") }}" data-section="section2">bulletins</a>
            </div>
      </div>
        <div class="center">
            <h1>Notes</h1>

            <div class="petit-wrapper">
                <div>
                    <p>
                        Matière <br>
                        <span>{{examination.matiere.nom}}</span>
                    </p>
                </div>
                <div>
                    <p>
                        Type d'examination <br>
                        <span>{{examination.evaluation.nom}} </span>
                    </p>
                </div>
            </div>
            <hr>

            <form action="{{path('app_notes_create_exam', {'examination': examination.id})}}" method="get">
                {% for eleve in eleves %}                              
                    <div class="mb-3 row">
                        <label for="{{eleve.id}}" class="col-sm-4 col-form-label">{{eleve.nom}} {{eleve.prenom}} </label>
                        <div class="col-sm-3"></div>
                        <div class="col-sm-3">
                        <input type="number" class="form-control" id="{{eleve.id}}" placeholder="note" step="any" name="notes[{{eleve.id}}]" 
                        {% if notes is not null %}
                            {% for note in notes %}
                                {% if note.eleveId.id == eleve.id %}
                                    value="{{note.note}}"
                                {% endif %}
                            {% endfor %}> 
                        {% endif %}
                        
                        </div>
                        <div class="col-sm-2 mt-2"><p>/20</p></div>
                    </div>
                {% endfor %}
                    <input type="submit" value="Enregistrer" class="btn btn-primaire">
                    <a href="{{path('app_examinations_index')}}" class="btn btn-secondaire">Annuler</a>
            </form>

        </div>
  </div>
{% endblock %}
