{% extends 'base.html.twig' %} {% block title %}Modifier eleve {{ elefe.nom }}
{{ elefe.prenom }}{% endblock %} {% block body %}
<div class="wrapper">
  <div class="sidebar">
        <div class="top"><a href="{{ path("app_main") }}" data-section="section1">Acceuil</a></div>

        <div class="sidebar-menu">
            <a href="{{ path("app_main_ecole") }}" data-section="section1">Dashboard</a>
            <a href="{{ path("app_eleves_index") }}" data-section="section1">Elèves</a>
            <a href="{{ path("app_classes_index") }}" data-section="section2">Classes</a>
            <a href="{{ path("app_matieres_index") }}" data-section="section2">Cours</a>
            <a href="{{ path("app_enseignants_index") }}" data-section="section2">Professeurs</a>
        </div>
  </div>
  <div class="center">
    <h1>modifier l'élève {{ elefe.nom }} {{ elefe.prenom }}</h1>
    {{ include("eleves/_form.html.twig", { button_label: "Enregistrer" }) }}
    {{ include("eleves/_delete_form.html.twig") }}
  </div>
</div>
{% endblock %}
