{% extends 'base.html.twig' %} {% block title %}Liste des élèves{% endblock %}
{% block body %}

<div class="wrapper">
  
  <div class="sidebar">
        <div class="top"><a href="{{ path("app_main") }}" data-section="section1">Acceuil</a></div>

        <div class="sidebar-menu">
            <a href="{{ path("app_main_ecole", {'annee': annee_actuelle }) }}" data-section="section1">Dashboard</a>
            <a href="{{ path("app_eleves_index") }}" data-section="section1" class="active">Elèves</a>
            <a href="{{ path("app_classes_index") }}" data-section="section2">Classes</a>
            <a href="{{ path("app_matieres_index") }}" data-section="section2">Cours</a>
            <a href="{{ path("app_enseignants_index") }}" data-section="section2">Professeurs</a>
        </div>
  </div>
  <div class="center">
    <section id="section1" class="active">
      <h1>Liste des élèves</h1>
      <p>
        Trier par classe
      </p>
      <form  method="get" action="{{ path("app_eleves_index") }}">
          <div class="mb-4 row">
          <div class="col-3">
            <select name="trie" id="trie" onchange="this.form.submit()" class="form-control">
              <option value="all">Tout</option>
              {% for classe in classes %}
              <option value="{{ classe.id }}"{% if active == classe.id %}selected{% endif %}>{{ classe.nom }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="col-2 mt-2"><small class="mx-2">{{nombre}} élèves</small></div>
        </form>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Classe</th>
            <th>Date_naissance</th>
            <th>actions</th>
          </tr>
        </thead>
        <tbody>
          {% for elefe in eleves %}
          <tr>
            <td>{{ elefe.nom }}</td>
            <td>{{ elefe.prenom }}</td>
            <td>{{ elefe.classe.nom }}</td>
            <td>
              {{ elefe.dateNaissance ? elefe.dateNaissance|date('d-m-Y') : '' }}
            </td>
            <td>
                      <div class="del row">
            <div class="col-6">
              <form
                method="post"
                action="{{ path('app_eleves_delete', { id: elefe.id }) }}"
                onsubmit="return confirm('Voulez-vous vraiment le supprimer ?');"
              >
                <input
                  type="hidden"
                  name="_token"
                  value="{{ csrf_token('delete' ~ elefe.id) }}"
                />
                <button class="btn btn-danger">Supprimer</button>
              </form>
            </div>
              <a href="{{ path('app_eleves_edit', { id: elefe.id }) }}"class="btn btn-secondaire col-6">modifier</a>
          </div>
            </td>
          </tr>
          {% else %}
          <tr>
            <td colspan="6">no records found</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <a href="{{ path('app_eleves_new', {'annee': annee_actuelle }) }}" class="btn btn-primaire">Inscrire un élève</a>
    </section>
  </div>
</div>
{% endblock %}
