{% extends 'base.html.twig' %} {% block title %}Réinscription de l'élève{% endblock %}
{% block body %}

<div class="wrapper">
  <div class="sidebar">
        <div class="top"><a href="{{ path("app_main") }}" data-section="section1">Acceuil</a></div>
    <div class="sidebar-menu">
      <a href="{{ path("app_eleves_new", {'annee': annee_actuelle}) }}" data-section="section2">Inscrire un élève</a>
      <a href="{{ path("app_eleves_renew", {'annee': annee_actuelle}) }} " class="active" data-section="section2">Réinscrire un élève</a>
    </div>
  </div>
  <div class="center">
    <section id="section1" class="active">
      <h1>Choisir l'élève à réinscrire</h1>
      <p>
        Trier par classe
      </p>
      <form  method="get" action="{{ path("app_eleves_renew", {'annee': annee_actuelle}) }}">
        <div class="mb-2 col-3">
          <select name="trie" id="trie" onchange="this.form.submit()" class="form-control">
            <option value="all">Tout</option>
            {% for classe in classes %}
            <option value="{{ classe.id }}" {% if active == classe.id %}selected{% endif %}>{{ classe.nom }}</option>
            {% endfor %}
          </select>
        </div>
      </form>
      <table class="table">
        <thead>
          <tr>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Classe</th>
            <th>actions</th>
          </tr>
        </thead>
        <tbody>
          {% for inscription in inscriptions %}
          <tr>
            <td>{{ inscription.eleve.nom }}</td>
            <td>{{ inscription.eleve.prenom }}</td>
            <td>{{ inscription.classe.nom }}</td>
            <td>
            <div class="d-flex flex-row justify-content-around">
              <a href="{{ path('app_inscription_reinscription', { id: inscription.eleve.id, classe: active}) }}"class="btn btn-primaire">réinscrire</a>
              <form action="{{ path('app_inscription_freeze', { id: inscription.eleve.id}) }}" method="post" onsubmit="return confirm('Confirmer la désinscription de cet élève ?')"><button type="submit" class="btn btn-danger ml-2x">Désinscrire</button></form>
            </div>
            </td>
          </tr>
          {% else %}
          <tr>
            <td colspan="6">no records found</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <p>Vous ne trouvez pas d'élève à réinscrire ? Choisir la classe en haut ou</p>
      <a href="{{ path('app_eleves_new', {'annee': annee_actuelle})}}" class="btn btn-primaire">Inscrire un élève</a>
    </section>
  </div>
</div>
{% endblock %}
