{% extends 'base.html.twig' %}

{% block title %}Nouvelle matière{% endblock %}

{% block body %}
        <div class="wrapper">
            
      <div class="sidebar">
        <div class="top"><a href="{{ path("app_main") }}" data-section="section1">Acceuil</a></div>

        <div class="sidebar-menu">
            <a href="{{ path("app_main_ecole") }}" data-section="section1">Dashboard</a>
            <a href="{{ path("app_eleves_index") }}" data-section="section1">Elèves</a>
            <a href="{{ path("app_classes_index") }}" data-section="section2" class="active">Classes</a>
            <a href="{{ path("app_matieres_index") }}" data-section="section2">Cours</a>
            <a href="{{ path("app_enseignants_index") }}" data-section="section2">Professeurs</a>
        </div>
      </div>
            <div class="center">
                <h1>Créer une nouvelle matière</h1>
              
              {{ include('matieres/_form.html.twig', {'button_label': 'Enregistrer'}) }}

                <a href="{{ path('app_matieres_index') }}" class="btn btn-secondaire">Retour vers la liste</a>
            </div>
        </div>
{% endblock %}
